<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>

    <partial name="_Styles" />
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
        <partial name="_TopNavigation" />

        <partial name="_SideNavigation" />

        @RenderBody()

        <partial name="_Footer" />

        <partial name="_Scripts" />
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
