AdminPanel_RazorPage/bin/
AdminPanel_RazorPage/obj/
AdminPanel_RazorPage/.config/
AdminPanel_RazorPage/wwwroot/Files
.vs/
Domain/bin/
Domain/obj/
Data/bin/
Data/obj/
Ioc/bin/
Ioc/obj/
Application/bin/
Application/obj/