extends partials/_layout

block style

block header
  include partials/_header

block content
  section.section.confirmation
    .container
      .row.justify-content-center
        .col-lg-8
          .confirmation-content.text-center
            i.icofont-check-circled.text-lg.text-color-2
            h2.mt-3.mb-4 Thank you for your appoinment
            p We will contact with you soon.

block footer
  include partials/_footer

block script
  script(src="assets/scripts/contact.js")
  script(src="assets/scripts/appointment.js")
