extends partials/_layout

block style
  link(rel="stylesheet" href="assets/styles/profile.css")

block header
  include partials/_header

block content
  .main.mt-4
    .container
      .row
        .col-lg-4
          .profile-card
            .row.align-items-center
              .col-6.profile-menu-item
                img.img-fluid(src="assets/images/content/user.png", alt="" height="20px" width="20px")
              .col-6.profile-menu-item سامان حلاج باشی
            .row
              a(href="#").col-12.profile-menu-item نوبت های من
            .row
              a(href="#").col-12.profile-menu-item اطلاعات حساب
            .row
              a(href="#").col-12.profile-menu-item خروج
        .col-lg-8
          .titles.personal-info-item اطلاعات شخصی
          .profile-card
            .personal-info
              .row
                .col-6.personal-info-item نام و نام خانوادگی: سامان حلاج باشی
                .col-6.personal-info-item شماره تلفن همراه: 09360694501
              .row
                .col-6.personal-info-item تاریخ تولد: 1381/02/10
                .col-6.personal-info-item رمز عبور: ******
              .row
                a(href="#").col-12.personal-info-btn.d-flex.justify-content-center ویرایش اطلاعات شخصی

block footer
  include partials/_footer

block script
  script(src="assets/scripts/contact.js")
  script(src="assets/scripts/appointment.js")
