footer.footer.section.gray-bg
  .container
    .row.justify-content-between
      .col-lg-4.col-sm-6
        .widget.mb-5.mb-lg-0
          .logo.mb-4
            img.img-fluid.footer-logo-img(
              alt="logo picture" 
              src="assets/images/content/logo.png"
              )
          p
            | نوبت یار، سامانه ای جامع برای رزور نوبت پزشکان است که نیاز به مراجعه حضوری یا تماس تلفنی برای رزور نوبت را برطرف کرده است.
          ul.list-inline.footer-socials.mt-4
            li.list-inline-item
              a(href="callto:09360694501")
                i.icofont-phone
            li.list-inline-item
              a(href="https://www.telegram.org/nobatYar")
                i.icofont-telegram
            li.list-inline-item
              a(href="https://whatsapp.com/nobatYar")
                i.icofont-whatsapp
      .col-lg-2.col-md-6.col-sm-6
        .widget.mb-5.mb-lg-0
          h4.text-capitalize.mb-3 بیشتر
          .divider.mb-4
          ul.footer-menu.lh-35
            li
              a(href="#") شرایط و قوانین
            li
              a(href="#") اینماد
            li
              a(href="#") سوالات متداول
      .col-lg-3.col-md-6.col-sm-6
        .widget.widget-contact.mb-5.mb-lg-0
          h4.text-capitalize.mb-3 پشتیبانی
          .divider.mb-4
          .footer-contact-block.mb-4
            .icon.d-flex.align-items-center
              i.icofont-email.mr-3
              span.h6.mb-0 شنبه تا پنجشنبه: ساعت 12 تا 20
            h4.mt-2
              a(href="callto:09360694501") +989360694501
          .footer-contact-block
            .icon.d-flex.align-items-center
              i.icofont-support.mr-3
              span.h6.mb-0 پاسخگویی 7/24
            h4.mt-2
              a(href="https://whatsapp.com/nobatYar") واتساپ