
<footer class="footer section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mr-auto col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <div class="logo mb-4"><img class="img-fluid" alt="" src="assets/images/logo.png"/></div>
          <p>نوبت یار، سامانه ای جامع برای رزور نوبت پزشکان است که نیاز به مراجعه حضوری یا تماس تلفنی برای رزور نوبت را برطرف کرده است.</p>
          <ul class="list-inline footer-socials mt-4">
            <li class="list-inline-item"><a href="callto:09360694501"><i class="icofont-phone"></i></a></li>
            <li class="list-inline-item"><a href="https://www.telegram.org/nobatYar"><i class="icofont-telegram"></i></a></li>
            <li class="list-inline-item"><a href="https://whatsapp.com/nobatYar"><i class="icofont-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3">بیشتر</h4>
          <div class="divider mb-4"></div>
          <ul class="list-unstyled footer-menu lh-35">
            <li><a href="#">شرایط و قوانین</a></li>
            <li><a href="#">اینماد</a></li>
            <li><a href="#">سوالات متداول</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widget widget-contact mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3">پشتیبانی</h4>
          <div class="divider mb-4"></div>
          <div class="footer-contact-block mb-4">
            <div class="icon d-flex align-items-center"><i class="icofont-email mr-3"></i><span class="h6 mb-0">شنبه تا پنجشنبه: ساعت 12 تا 20</span></div>
            <h4 class="mt-2"><a href="callto:09360694501">+989360694501</a></h4>
          </div>
          <div class="footer-contact-block">
            <div class="icon d-flex align-items-center"><i class="icofont-support mr-3"></i><span class="h6 mb-0">پاسخگویی 7/24</span></div>
            <h4 class="mt-2"><a href="https://whatsapp.com/nobatYar">واتساپ</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>