header
  .header-top-bar
    .container
      .row.align-items-center
        .col-lg-4
            img.img-fluid.header-logo-img(
              alt="logo picture" 
              src="assets/images/content/logo.png"
            )
        //- .col-lg-4
        //-   ul.top-bar-info.list-inline-item.pl-0.mb-0
        //-     li.list-inline-item
        //-       i.icofont-location-pin.mr-2
        //-       | آدرس: کاشان خیابان امیرالمونین ساختمان پزشکان
        .col-lg-4
          .text-lg-right.top-right-bar.mt-2.mt-lg-0
            span آدرس: کاشان خیابان امیرالمونین ساختمان پزشکان
        .col-lg-4
          .text-lg-right.top-right-bar.mt-2.mt-lg-0
            a(href="tel:03155333322")
              span تماس:
              span.h4 03155333322
  nav#navbar.navbar.navbar-expand-lg.navigation
    .container
      a.navbar-brand(href="index.html")
        span خانه
      a.navbar-brand(href="profile.html")
        span ورود/ثبت نام